
@media (max-width:800px) {
  .navigation-links {
    display: none;
  }
  .search-container-div {
    margin: 2%;
    margin-right: 0px;
  }
}

@media (min-width:801px) {
  .company-logo {
    display: flex;
  }
  .menu-icon {
    display: none;
  }
}

@media (max-width: 1600px) {
  .products-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 1300px) {
  .products-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 1000px) {
  .products-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 800px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 575px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 375px) {
  .product-container {
    width: 1fr;

  }
  .products-grid {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
  }
}