
.sidebar {
  position: absolute;
  z-index: 999;
  display: flex;
  flex-direction: column;

}

.main-nav-bar {
  display: none;
  align-items: center;
  width: 100%;
  height: 50px;
  position: relative;
  box-shadow:0 4px 6px -4px rgba(0, 0, 0, 0.2);
}
.div-logo-menu {
  height: 100%;
  width: 50px;
  /* margin-left: 10px; */
  background-color: white;
  border-radius: 25px;
}
.company-logo {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: none;
}
.company-logo:hover {
  background-color: rgb(228, 228, 228);
}
.company-logo-a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.company-logo-img {
  width: 36px;
  height: 36px;
  /* display: none; */
}
.menu-icon {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.menu-icon:hover {
  background-color: rgb(228, 228, 228);
}
.menu-icon-a {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;
  display: flex;
}
.menu-icon-img {
  width: 24px;
  height: 24px;
}



.div-main-navigations {
  flex: 1;
  display: flex;
  height: 100%;
  align-items: center;
  margin-right: 20px;
}
.navigation-links {
  display: flex;
  height: 100%;
  width: 300px;
  align-items: center;  
}
.navigation-links a {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  text-decoration: none;
  cursor: pointer;
  color: black;
  transition: background-color 0.2s ease;
}
.navigation-links a:hover {
  background-color: rgb(228, 228, 228);
}



.search-container-div {
  display: flex;
  height: 80%;
  flex: 2;
  margin: 0 5%;
  align-items: center;
}
.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90%;
  border-radius: 20px;
  margin: 0 20px;
  overflow: hidden;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2);
}
.search-container form {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.search-input-box {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px 0px 0px 20px;
  font-size: 14px;
}
.search-input-box:focus {
  outline: none;
}
.search-button {
  width: 30px;
  min-width: 30px;
  flex-shrink: 0;
  border: none;
  border-left: 1px solid rgb(180, 180, 180);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 100%;
  
}


.div-cart-profile {
  width: 80px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-icon {
  width: 30px;
  height: auto;
}
.cart-logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.account-profile-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.account-logo {
  width: 27px;
  height: auto;
}

.cart-notification {
  position: absolute;
  top: 3px;
  right: 52px;
  height: 18px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  color: white;
  background-color: #DF0000;
  border-radius: 10px;
  font-size: 12px;
}