
nav {
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
  display: flex;
  align-items: center;
}
nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  transition: background-color 0.3s ease;
}
nav a:hover {
  background-color: #f0f0f0;
}

nav li:first-child {
  margin-right: auto;
}

.navbar-second {
  padding-left: 5px;
}

.logo-img-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  border: 4px solid transparent;
  border-radius: 25px;
  position: relative;
}


.logo-img {
  width: 44px;
  height: auto;

}